.app {
    display: flex;
    flex-direction: column;
}

button {
    width: 100px;
    height: 25px;
    margin: 2px;
}

.username-container {
    display: flex;
    flex-direction: row;
    margin: 2px;
    padding: 2px;
    align-items: center;
    height: 22px;
}

.username {
    margin-left: 4px;
}